# SQL Murder Mystery

## Can you find out whodunnit?

![A decorative illustration of a detective looking at an evidence board.](https://mystery.knightlab.com/174092-clue-illustration.png)

There's been a Murder in SQL City! The SQL Murder Mystery is designed to be both a self-directed lesson to learn SQL concepts and commands and a fun game for experienced SQL users to solve an intriguing crime.

## SQL sleuths start here

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a **​murder​**that occurred sometime on ​**Jan.15, 2018​** and that it took place in ​**SQL City​**. Start by retrieving the corresponding crime scene report from the police department’s database.

### Exploring the Database Structure

Experienced SQL users can often use database queries to infer the structure of a database. But each database system has different ways of managing this information. The SQL Murder Mystery is built using SQLite. Use this SQL command to find the tables in the Murder Mystery database.

Run this query to find the names of the tables in this database.

This command is specific to SQLite. For other databases, you'll have to learn their specific syntax.

In [12]:
# Install required packages
%pip install jupysql sqlalchemy pandas --quiet

# Load SQL magic
%load_ext sql

# Connect to the database
%sql sqlite:///sql-murder-mystery.db
#%config SqlMagic.style = 'table'

Note: you may need to restart the kernel to use updated packages.
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
%%sql
SELECT name
FROM sqlite_master

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------------------------------+
|                  name                 |
+---------------------------------------+
|           crime_scene_report          |
|            drivers_license            |
|         facebook_event_checkin        |
|               interview               |
|           get_fit_now_member          |
| sqlite_autoindex_get_fit_now_member_1 |
|          get_fit_now_check_in         |
|                solution               |
|             check_solution            |
|                 income                |
+---------------------------------------+
Truncated to displaylimit of 10.


Besides knowing the table names, you need to know how each table is structured. The way this works is also dependent upon which database technology you use. Here's how you do it with SQLite.

Run this query to find the structure of the `crime_scene_report` table

Change the value of 'name' to see the structure of the other tables you learned about with the previous query.

In [14]:
%%sql
SELECT sql
FROM sqlite_master
where name = 'crime_scene_report'

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------------------------------+
|                sql                |
+-----------------------------------+
| CREATE TABLE crime_scene_report ( |
|               date integer,       |
|                 type text,        |
|             description text,     |
|                 city text         |
|                   )               |
+-----------------------------------+


### The rest is up to you!

If you're really comfortable with SQL, you can probably get it from here. To help, here is the schema diagram:

![schema diagram](schema.png)

Use your knowledge of the database schema and SQL commands to find out who committed the murder.
### Check your solution

Did you find the killer? When you think you know the answer, submit your suspect using the following code and find out if you're right.

In [15]:
%%sql
INSERT INTO solution VALUES (1, 'Miranda Priestly');
SELECT value FROM solution;

Running query in 'sqlite:///sql-murder-mystery.db'

1 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                            value                                                                             |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne! |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [16]:
%%sql
SELECT *
FROM crime_scene_report
WHERE date = 20180115 AND type = 'murder' AND city = 'SQL City';

Running query in 'sqlite:///sql-murder-mystery.db'

+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
|   date   |  type  |                                                                                        description                                                                                        |   city   |
+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
| 20180115 | murder | Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave". | SQL City |
+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+

In [ ]:
%%sql
SELECT i.person_id, p.name, p.address_street_name, p.address_number, i.transcript
FROM interview i
JOIN person p ON i.person_id = p.id
WHERE p.name LIKE '%Annabel%'
AND (p.address_street_name LIKE '%Northwestern Dr%' OR p.address_street_name LIKE '%Franklin Ave%');

In [20]:
# Difficulty finding last house, will come back to 
%%sql
SELECT i.person_id, p.name, p.address_street_name
FROM interview i
JOIN person p ON i.person_id = p.id
WHERE p.address_street_name LIKE '%North%'
ORDER BY p.address_number ASC

SyntaxError: invalid syntax (1993279287.py, line 3)

In [28]:
%%sql
SELECT m.*, c.*
FROM get_fit_now_member m
JOIN get_fit_now_check_in c ON m.id = c.membership_id
WHERE c.check_in_date = 20180109 
  AND (c.check_in_time BETWEEN 1600 AND 1700 OR c.check_out_time BETWEEN 1600 AND 1700)

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+-----------+----------------+-----------------------+-------------------+---------------+---------------+---------------+----------------+
|   id  | person_id |      name      | membership_start_date | membership_status | membership_id | check_in_date | check_in_time | check_out_time |
+-------+-----------+----------------+-----------------------+-------------------+---------------+---------------+---------------+----------------+
| 48Z7A |   28819   |  Joe Germuska  |        20160305       |        gold       |     48Z7A     |    20180109   |      1600     |      1730      |
| 48Z55 |   67318   | Jeremy Bowers  |        20160101       |        gold       |     48Z55     |    20180109   |      1530     |      1700      |
| 90081 |   16371   | Annabel Miller |        20160208       |        gold       |     90081     |    20180109   |      1600     |      1700      |
+-------+-----------+----------------+-----------------------+-------------------+---------------+---------------+---------------+----------------+

In [35]:
%%sql
SELECT i.person_id, p.name, p.address_street_name, p.address_number, i.transcript
FROM interview i
JOIN person p ON i.person_id = p.id
WHERE p.name LIKE '%Jeremy Bowers%';

Running query in 'sqlite:///sql-murder-mystery.db'

+-----------+---------------+-----------------------+----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| person_id |      name     |  address_street_name  | address_number |                                                                                                                    transcript                                                                                                                    |
+-----------+---------------+-----------------------+----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|   67318   | Jeremy Bowers | Washington Pl, Apt 3A |      530       | I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017. |
|           |               |                       |                |                                                                                                                                                                                                                                                  |
+-----------+---------------+-----------------------+----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [38]:
%%sql
SELECT p.*, d.*, i.annual_income, f.event_name, f.date
FROM person p
JOIN drivers_license d ON p.license_id = d.id
JOIN income i ON p.ssn = i.ssn
LEFT JOIN facebook_event_checkin f ON p.id = f.person_id
WHERE d.hair_color = 'red' 
  AND d.height BETWEEN 65 AND 67
  AND d.car_make = 'Tesla'
  AND d.car_model = 'Model S'
  AND d.gender = 'female'

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+------------------+------------+----------------+---------------------+-----------+--------+-----+--------+-----------+------------+--------+--------------+----------+-----------+---------------+----------------------+----------+
|   id  |       name       | license_id | address_number | address_street_name |    ssn    |  id_1  | age | height | eye_color | hair_color | gender | plate_number | car_make | car_model | annual_income |      event_name      |   date   |
+-------+------------------+------------+----------------+---------------------+-----------+--------+-----+--------+-----------+------------+--------+--------------+----------+-----------+---------------+----------------------+----------+
| 78881 |     Red Korb     |   918773   |      107       |     Camerata Dr     | 961388910 | 918773 |  48 |   65   |   black   |    red     | female |    917UU3    |  Tesla   |  Model S  |     278000    |         None         |   None   |
| 99716 | Miranda Priestly |   202298   |      1883      |      Golden Ave     | 987756388 | 202298 |  68 |   66   |   green   |    red     | female |    500123    |  Tesla   |  Model S  |     310000    | SQL Symphony Concert | 20171206 |
| 99716 | Miranda Priestly |   202298   |      1883      |      Golden Ave     | 987756388 | 202298 |  68 |   66   |   green   |    red     | female |    500123    |  Tesla   |  Model S  |     310000    | SQL Symphony Concert | 20171212 |
| 99716 | Miranda Priestly |   202298   |      1883      |      Golden Ave     | 987756388 | 202298 |  68 |   66   |   green   |    red     | female |    500123    |  Tesla   |  Model S  |     310000    | SQL Symphony Concert | 20171229 |
+-------+------------------+------------+----------------+---------------------+-----------+--------+-----+--------+-----------+------------+--------+--------------+----------+-----------+---------------+----------------------+----------+